/* Defaults */
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(54, 54, 54);
}
html{
    scroll-behavior: smooth;
}

/* Everything on the landing page */
.landingPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../Images/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg);
    background-size: cover;
}


.title{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
    transform: translateX(-2%);
    color: rgb(231, 231, 231);

}

.subTitle{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    transform: translateX(6%);
    color: rgb(197, 197, 197);

}

.links{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    
}

.links a{
    text-decoration: none;
    color: rgb(197, 197, 197);
}
.links a:active{
    text-decoration: none;
    color: rgb(197, 197, 197);
}

.links a{
    text-decoration: none;
    color: rgb(197, 197, 197);
}

.individualLink{
    margin: 0 .5%;

}

/* Everything Projects Page */

.projectPage{
    margin-top: 5%;
    height: 100vh;
}

.projectsPageTitle{
    text-align: left;
    margin-left: 15%;
    margin-bottom: 3%;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: white;

}

.projectPageOuterCard{
    background-color:rgb(194, 194, 194);
    border-radius: 10px;
    width: 80%;
    margin: 1% auto 1% auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Project Card */

.projectCard{
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 30rem;
    align-items: center;
    border-radius: 15px;
    padding: 4%;
    margin: 5%;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}
/* Image */
.projectImageDiv{
    width: 90%;
    height: 40%;
    margin: 0% auto 1% auto;
}

.projectImage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    

}
/* Porject title */

.projectTitleDiv{
    margin-top: 10%;

}

.projectTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}
/* Links */
.projectLinksDiv{
    text-align: center;
    margin-bottom: 2%;
}

.projectLinkSpan a{
    color: black;
    margin-left: 2%;
    margin-right: 2%;
}



/* Description / Details */

.projectDescriptionDiv{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Contact Page */

.contactPage{
    height: 80vh;
}

.contactPageTitleDiv{
    text-align: left;
    margin: 0 auto 2% auto;
}

.contactPageTitle{
    text-align: center;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: white;
}

.contactFormOuterDiv{
    background-color: rgb(194, 194, 194);
    width: 35%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 2% 0;
}

.contactPageForm{
    margin: 3% auto;
    width: 80%;
    
}

.contactFormNameLabel{
   
}

.contactFormName{

    
}

.contactFormName:focus{
}

.contactFormEmailLabel{

}

.contactFormEmail{

}

.contactFormTextAreaLabel{

}

.contantFormTextArea{

}

.contactFormButton{

}

/* online form styles */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #505050, #bbbbbb);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #505050;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }